<div class="container bg-light">
  <h2>Modyfikowanie i usuwanie kursów</h2>
  <div class="form-group">
    <label for="sel1">Kursy:</label>
    <select class="form-control" id="sel1" (change)="selectedCourse($event)">
      <option></option>
      <option value={{course.id}} *ngFor="let course of courses">{{course.name}}</option>
    </select>
    <form >
      Nowa nazwa kursu:
      <div class="form-group">
        <input type="string" class="form-control-file border" [(ngModel)]="modifyName" name="modifyName">
        <br>
       <button class="btn btn-primary" (click)="post()">Zmień nazwę</button>
        <button class="btn btn-danger" (click)="delete()">Usuń kurs</button>
      </div>
    </form>
  </div>
</div>