<div class="container bg-light">
    <h2>Wykaz kursów</h2>
    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th>Id kursu</th>
            <th>Nazwa kursu</th>
            <th>Data rozpoczęcia kursu</th>
            <th>Data zakończenia kursu</th>
            <th>Klucz kursu</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let course of courses">
            <td>{{course.id}}</td>
            <td>{{course.name}}</td>
            <td>{{course.start_time}}</td>
            <td>{{course.end_time}}</td>
            <td>{{course.access_key}}</td>
        </tr>
        </tbody>
    </table>
</div>
