<html lang="pl_PL">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>

<!-- A vertical navbar -->


<div class="container-flex bg-light" id="banner">
    <div class="row container-fluid">

        <div class="col-md-3 " >
            <img src="http://www.utp.edu.pl/images/aktualnosci/aktualnosci_2016/godlo.png" >
        </div>

        <div class="col-md-9">

                <h1>
                    System zarządzania sprawozdaniami
                </h1>
                <p>
                    Uniwersytetu Technologiczno-Przyrodniczego im. Jana i Jędrzeja Śniadeckich w Bydgoszczy
                </p>

        </div>
    </div>
</div>

<div class="bar bar-expand-sm bg-dark bar-dark">
<div class="col-md-9">
    <a class="bar-brand text-light" id="user"><app-status></app-status></a>
</div>
</div>
<div style="padding: 5px;">
<div class="row container-fluid">
    <div class="offset-md-3 col-md-7 offset-md-2">
    <app-alert></app-alert>
    </div>
</div>
</div>
<div class="row container-fluid">

    <div class="col-md-3">
         <app-navbar></app-navbar>
    </div>
    <div class="col-md-7" >

         <router-outlet></router-outlet>
    </div>
</div>


</body>
</html>
