  <div class="container bg-light">
    <h2>Sprawozdania</h2>
    <table class="table table-bordered">
      <thead class="thead-light">
      <tr>
        <th>Przedmiot</th>
        <th>Tytuł sprawozdania</th>
        <th>Data rozpoczęcia kursu</th>
        <th>Data zakończenia kursu</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let course of courses">
        <td>{{course.id}}</td>
        <td>{{course.title}}</td>
        <td>{{course.start_time}}</td>
        <td>{{course.end_time}}</td>
      </tr>
      </tbody>
    </table>
  </div>

