<div class="container bg-light">
  <h2>Zarządzanie studentami</h2>
  <div class="form-group">
    <label>Kursy:</label>
    <select class="form-control" id="sel1" (change)="selectedCourse($event)">
      <option></option>
      <option value={{course.id}} *ngFor="let course of courses">{{course.name}}</option>
    </select>
    <label>Studenci:</label>
    <select class="form-control" id="sel1" (change)="selectedStudent($event)">
      <option></option>
      <option value={{student.id}} *ngFor="let student of students">{{student.name}} {{student.last_name}}</option>
    </select>
    <form >
      <br>
        <button class="btn btn-danger" (click)="delete()">Usuń studenta z kursu</button>
    </form>
  </div>
</div>