  <h2 style="text-align:center;">Rejestracja</h2>
  <div class="container bg-light">
    <form (ngSubmit)="f.form.valid && onRegister()" #f="ngForm" novalidate>
      <div class="form-group">


        <label for="regEmail">Adres email:</label>
        <input type="email" class="form-control" id="regEmail" [ngClass]="{'is-invalid': f.submitted && email.errors?.email}"  placeholder="wprowadź email" [(ngModel)]="usreg.email" #email="ngModel" name="email" required email/>
        <div *ngIf="email.errors?.email" class="invalid-feedback"> to nie jest e-mail w domenie utp!</div>

        <label for="name">Imię:</label>
        <input type="name" class="form-control" id="name" [ngClass]="{'is-invalid': f.submitted && name.errors?.minlength}"  placeholder="wprowadź imię" [(ngModel)]="usreg.name" #name="ngModel" name="name" required  minlength="3"/>
        <div *ngIf="name.errors?.minlength" class="invalid-feedback"> ilość znaków od 3 do 64!</div>

        <label for="last_name">Nazwisko:</label>
        <input type="last_name" class="form-control" id="last_name" [ngClass]="{'is-invalid': f.submitted && last_name.errors?.minlength}"  placeholder="wprowadź nazwisko" [(ngModel)]="usreg.last_name" #last_name="ngModel" name="last_name" required  minlength="3"/>
        <div *ngIf="last_name.errors?.minlength" class="invalid-feedback"> ilość znaków od 3 do 64!</div>

        <label for="password">Hasło:</label>
        <input type="password" class="form-control" [ngClass]="{'is-invalid': f.submitted && password.errors?.minlength}" id="password" placeholder="wprowadź hasło" [(ngModel)]="usreg.password" #password="ngModel" name="password" required  minlength="6"/>
        <div *ngIf="password.errors?.minlength" class="invalid-feedback"> hasło powinno mieć min. 6 znaków!</div>

        <label for="certainPassword">Powtórz hasło:</label>
        <input type="password" class="form-control" [ngClass]="{'is-invalid': f.submitted && certainPassword.errors?.minlength}" id="certainPassword" placeholder="wprowadź ponownie hasło" [(ngModel)]="usreg.password2" #certainPassword="ngModel" name="certainPassword" required [equalTo]="password" minlength="6"/>
        <div *ngIf="certainPassword.errors?.equalTo" class="invalid-feedback"> hasła różnią się</div>
        <div *ngIf="certainPassword.errors?.minlength" class="invalid-feedback"> hasło powinno mieć min. 6 znaków!</div>

        <br>
        <button type="submit" class="btn btn-primary">Zarejestruj się</button>
        <button type="button" class="btn btn-primary" routerLink="/login">Zaloguj się</button>
      </div>
    </form>
  </div>
