<div class="container bg-light">
    <h2>Tworzenie kursów</h2>
    <form (ngSubmit)="submit()" #f="ngForm" novalidate>
        <div class="form-group">
            <label>Nazwa kursu</label>
            <input type="string"  class="form-control" id="coursesName" placeholder=""  name="coursesName" [(ngModel)]="courseName" required/>

            <label>Data rozpoczęcia kursu</label>
                    <div class="input-group">


                        <input class="form-control" placeholder="yyyy-mm-dd"
                               name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" required>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                        </div>

                    </div>


            <label>Data zakończenia kursu</label>
                    <div class="input-group">

                        <br>
                        <input class="form-control" placeholder="yyyy-mm-dd"
                               name="dp2" [(ngModel)]="model2" ngbDatepicker #d2="ngbDatepicker" required>
                        <div class="input-group-append">

                            <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"></button>
                        </div>

                    </div>
                    <br>




            <button type="submit" class="btn btn-primary">Utwórz kurs</button>
        </div>
    </form>
</div>